@use 'colors/var';
@import "./reset.scss";
@import "./content/header.scss";
@import "./content/main-section.scss";
@import "./content/projects.scss";
@import "./content/other-projects.scss";
@import "./content/contact.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  padding: 2rem 5rem;
  overflow-x: hidden;
  background: var.$offWhite;
}

.header {
  font-size: 2rem;
  font-weight: 800;
}

a {
  color: var.$offBlack;
  text-decoration: none;
}

#commits {
  margin-top: 8%;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  img {
    width: 80vw;
    margin-left: 5vw;
    border-radius: 8px;
  }
}

#about-section {
  margin-top: 5%;
  padding: 2rem 6rem;
  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    padding-top: 2rem;
    width: 40vw;
  }
}
