@use 'colors/var';
@import "./reset.scss";
@import "./content/header.scss";
@import "./content/main-section.scss";
@import "./content/projects.scss";
@import "./content/other-projects.scss";
@import "./content/contact.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  padding: 2rem 5rem;
  overflow-x: hidden;
  background: var.$offWhite;
}

.header {
  font-size: 2rem;
  font-weight: 800;
}

a {
  color: var.$offBlack;
  text-decoration: none;
}

#commits {
  height: 100%;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;

  div {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #181a1b;
    border-radius: 8px;
  }

  h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: var.$offBlack;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}

#about-section {
  margin-top: 5%;
  padding: 2rem 6rem;
  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    padding-top: 2rem;
    width: 40vw;
  }
}
