#other-projects {
  margin-top: 5%;
  h1 {
    text-align: center;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
  }

  .card {
    display: flex;
    width: 20vw;
    margin-top: 5%;
    background: rgba(10, 164, 224, 0.2);
    padding: 2rem;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
    }

    p {
      margin-top: 5%;
      text-align: center;
    }

    button {
      background: #262626;
      border: none;
      margin-top: 5%;
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.3rem;

      a {
        font-weight: 500;
        color: white;
      }
    }
  }
}
