#projects {
  margin-top: 5%;

  .card {
    width: 100%;
    width: 100%;
    background: rgba(10, 164, 224, 0.2);
    border-radius: 8px;

    padding: 3rem 0rem 3rem 3rem;
    margin-top: 2%;

    p {
      width: 30vw;
    }

    button {
      margin-top: 2%;
      background: #262626;
      border: none;
      width: 10rem;
      height: 2.5rem;
      border-radius: 4px;

      a {
        color: #f8f8f8;
      }
    }
  }
}
