@use 'colors/var';

header {
  display: flex;
  justify-content: space-between;

  #hierable {
    color: rgb(219, 157, 86);
  }

  h1 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var.$offBlack;
  }

  ul {
    display: flex;

    li {
      padding-left: 2rem;

      a {
        color: var.$offBlack;
        transition: 0.3s ease;
      }

      a:hover {
        color: var.$babyBlueDarkest;
      }
    }
  }
}
