@use 'colors/var';

header {
  display: flex;
  justify-content: space-between;

  #hierable {
    color: #db9d56;
  }

  h1 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var.$offBlack;
  }

  ul {
    display: flex;

    li {
      padding-left: 2rem;

      a {
        color: var.$offBlack;
        transition: 0.3s ease;
      }

      a:hover {
        color: var.$babyBlueDarkest;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    h1 {
      font-weight: 500;
      font-size: 1.2rem;
      color: var.$offBlack;
      width: 100vw;
      padding-left: 2rem;
    }

    nav {
      visibility: hidden;
    }
  }
}
