@use 'colors/var';

main {
  display: flex;

  section {
    margin-top: 16.5%;
    margin-left: 5%;

    h1 {
      font-size: 3.5rem;
      padding-bottom: 0.5rem;
      font-weight: 800;
      color: var.$offBlack;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      color: var.$offBlack;
    }

    button {
      margin-top: 5%;
      width: 10rem;
      height: 2.5rem;
      border-radius: 0.3rem;

      a {
        font-weight: 500;
      }
    }

    #projects-btn {
      background: var.$offBlack;
      border: none;

      a {
        color: var.$offWhite;
      }
    }

    #resume-btn {
      background: none;
      border: 2px solid var.$offBlack;
      margin-left: 1rem;
    }
  }

  img {
    width: 40rem;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    height: 100%;
    text-align: center;

    section {
      margin-top: 16.5%;
      width: 100%;
      padding: 0;
      margin-left: 0;

      p {
        font-size: 1.4rem;
      }

      h1 {
        font-size: 5rem;
        padding: 0;
        padding-bottom: 0.5rem;
        font-weight: 800;
        color: var.$offBlack;
      }

      button {
        margin-top: 10%;
        width: 15rem;
        height: 5rem;
        border-radius: 0.3rem;
        margin-left: 0;

        a {
          font-weight: 500;
          font-size: 1.2rem;
        }
      }

      #projects-btn {
        background: var.$offBlack;
        border: none;
        margin-left: 0;

        a {
          color: var.$offWhite;
        }
      }

      #resume-btn {
        background: none;
        margin-left: 0;

        border: 2px solid var.$offBlack;
      }
    }

    img {
      width: 40rem;
      border-radius: 0px;
      margin-top: 40%;
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 2080px) {
  main {
    margin-top: 2.5%;
    section {
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.3rem;
        margin-top: 3%;
      }

      button {
        font-size: 1.3rem;
        width: 25%;
        height: 15%;
        margin-top: 5%;
      }
    }

    img {
      margin-left: 20%;
    }
  }
}
