@use 'colors/var';

#projects {
  margin-top: 5%;

  .card {
    width: 90%;
    background: var.$babyBlue;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5rem;

    padding: 3rem;
    margin-top: 2%;

    img {
      position: relative;
      bottom: 0px;
      margin: 0;
    }

    .inner-card-wrapper {
      text-align: left;

      p {
        padding-top: 2%;
        width: 30vw;
        line-height: 1.8rem;
        text-align: left;
      }

      button {
        margin-top: 5%;
        background: var.$offBlack;
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 4px;

        a {
          color: var.$offWhite;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #projects {
    .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      margin-top: 5%;

      img {
        margin-top: 10%;
        width: 20rem;
      }

      button {
        margin-left: 34%;
      }

      .inner-card-wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
          width: 85vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 2080px) {
  #projects {
    p {
      font-size: 1.2rem;
    }
  }
}
