@use 'colors/var';

#projects {
  margin-top: 5%;
  padding: 0rem 5rem;

  .card {
    width: 100%;
    width: 100%;
    background: var.$babyBlue;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

    padding: 3rem;
    margin-top: 2%;

    img {
      position: relative;
      bottom: 0px;
    }

    .inner-card-wrapper {
      p {
        padding-top: 2%;
        width: 30vw;
        line-height: 1.8rem;
      }

      button {
        margin-top: 5%;
        background: var.$offBlack;
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 4px;

        a {
          color: var.$offWhite;
        }
      }
    }
  }
}
